/*Importacion del nuevo tipo de letra*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*Variables de Colores*/
$Orange: hsl(26, 100%, 55%);
$Pale-orange: hsl(25, 100%, 94%);
$Very-vark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);

/*Fondo negro clarito*/
$Black-modal: hsl(0, 0%, 0%, 0.5);
/*Variable del tipo de letra*/
$Font: 'Kumbh Sans', sans-serif;